[user]
        name = Guilhaume Bordiau
        email = guilhaume.bordiau@leul.fr
[color]
        diff   = auto
        branch = auto
        status = auto
        pager  = true
        ui     = auto
[color "diff"]
        meta = bold yellow
        frag = bold cyan
        old  = bold red
        new  = bold green
[color "status"]
        header    = bold yellow
        added     = bold green
        changed   = bold red
        untracked = white
[gc]
        packrefs = true
[alias]
        ci = commit
        co = checkout
        st = status
        changes = log -p --follow
        find-deleted = rev-list -n 1 HEAD --
	# Remove deleted files
        del = ls-files -z --deleted | xargs -0 git rm
        patches = log -p
        tree = "log --graph --decorate --abbrev-commit --date-order --pretty=format:'%Cgreen%h%Creset : %s%Cred%d%Creset (%Cblue%an%Creset, %Cblue%ar%Creset)'"
        tree-all = "log --graph --decorate --abbrev-commit --date-order --pretty=format:'%Cgreen%h%Creset : %s%Cred%d%Creset (%Cblue%an%Creset, %Cblue%ar%Creset)' --all"
        log1 = log --pretty=oneline --abbrev-commit --decorate
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
        autocrlf = false
        #editor = /home/gbordiau/Dropbox/bin/rmate
	editor = vim
        excludesfile = ~/.git/info/exclude
	# Special permissions (and Windows Vista or later) are required when cloning repositories with symbolic links,
	# therefore support for symbolic links is disabled by default. Use git clone -c core.symlinks=true <URL> to enable it, 
	# see details here: https://github.com/git-for-windows/git/wiki/Symbolic-Links
	symlinks = true
        legacyheaders = false
        pager = less -+e
[branch]
        autosetuprebase = always
[repack]
        usedeltabaseoffset = true
[difftool]
        prompt = false
[github]
	user = guiohm
	token = 7691c5559f888d79266ff7a2e199fa2a
[grep]
	lineNumber = true
[push]
        default = tracking
[winUpdater]
	recentlySeenVersion = 2.16.3.windows.1
