{{ if not .codespaces -}}
{{ if eq .chezmoi.os "linux" -}}
{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/id_rsa")) -}}
#!/bin/sh

# The idea here is to pull data from keepassxc only when needed because
# -1) it is painfully slow 
# -2) it asks for the keepass db password each time
# -3) chezmoi would otherwise check for changes in keepass with almost each interaction

FILE="$HOME/.ssh/id_rsa"
cat > $FILE << "EOF"
{{ keepassxcAttachment "SSH" "id_rsa" }}
EOF
chmod 600 "$FILE"

FILE="$HOME/.ssh/config"
echo -e {{ keepassxcAttribute "SSH" "config" | quote }} > $FILE

{{- end }}
{{- end }}
{{- end }}
