{{ if not .codespaces -}}
{{ if eq .chezmoi.os "linux" -}}
{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/id_rsa")) -}}
#!/bin/sh

FILE="$HOME/.ssh/id_rsa"
echo -n {{ keepassxcAttachment "SSH" "id_rsa" | quote }} > $FILE
chmod 600 "$FILE"

FILE="$HOME/.ssh/config"
echo -n {{ keepassxcAttribute "SSH" "config" | quote }} > $FILE

{{- end }}
{{- end }}
{{- end }}
